:root {
  --primary-color: #272b32;
  --secondary-color: #0d6b8e;
  --btn-font1-color: #fdf2e9;
  --btn-font2-color: #fdf2e9;
  --btn-bg1-color: #0d6b8e;
  --btn-bg2-color: #0c5b78;
  --sidebar-font-color: #fdf2e9;
  --main-font-color: #777;
  --plain-text-color:#2b2f36;
  --border-bottom-color: #434a55;
  --nav-hover-color: #3d434c;
  --nav-active-color: #b4aba4;
  --logo-active-color: #0a506a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* setting font-size from 16px to 10px*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 300;
  color: #2d3439;
}
main {
  background: url(../img/bg.png) repeat;
}
.heading-hero {
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.05;
  margin-bottom: 1.4rem;
}
.heading-primary {
  background-color: var(--secondary-color);
  padding: 2.4rem;
  font-weight: 400;
  line-height: 1.05;
  font-size: 3.8rem;
  color: var(--sidebar-font-color);
}
.heading-secondary {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 1.05;
  margin-bottom: 1.4rem;
}
.heading-teritary {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.05;

  margin-bottom: 1.4rem;
  color: var(--primary-color);
}
.heading-quaternary {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.05;
  margin-bottom: 1.4rem;
  color: var(--primary-color);
}
.plain-text{
  color: var(--plain-text-color);
}
.padding {
  padding: 2rem;
}
.full-height {
  height: 100vh;
}
.btn-close {
  height: 2.4rem;
  width: 2.4rem;
}
.btn:link,
.btn:visited {
  text-decoration: none;
  background-color: var(--btn-bg1-color);
  color: var(--btn-font1-color);
  font-weight: 400;
  padding: 1.2rem;
  border-radius: 1.2rem;
}
.btn:hover,
.btn:active {
  background-color: var(--btn-bg2-color);
  color: var(--btn-font2-color);
}
